:root {
  --mainText: black;
  --secText: #666;

  --borderColor: #c1c1c1;

  --mainColor: #eaeaea;
  --secColor: #fff;
  --inputBtn: #666;
}

h1,
h2,
h3,
h4 {
  font-family: "Russo One", sans-serif;
  color: var(--mainText);
}

a {
  text-decoration: none;
  color: lightblue;
}

ul {
  list-style: none;
}

p, h5, h6, span {
  color: var(--mainText) !important;
}

.my_para{
  font-family: "Roboto Mono", monospace;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
}

.s2 {
  background-color: var(--secColor);
  border-bottom: 1px solid var(--borderColor);
}

.dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: inline-block;
}

.d-red {
  background-color: #fc6058;
}

.d-orange {
  background-color: #fec02f;
}

.d-green {
  background-color: #606b56;
}

.about_style {
  border: 1px solid var(--borderColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--secColor);
}

.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-center div {
  display: inline-block;
}

.my-row-about {
  height: 500px;
  background-color: var(--secColor);
}

.theme-dot {
  background-color: black;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
  display: inline-block;
  border: 3px solid gray;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.8;
}

.theme-dot:hover {
  height: 36px;
  width: 36px;
  border: none;
  transition: transform 250ms ease-in;
  cursor: pointer;
  border: 1px solid gray;
  opacity: 1;
}

.d-white {
  background-color: white;
}

.d-black {
  background-color: black;
}

.d-green {
  background-color: green;
}

.d-green {
  background-color: green;
}

.d-purpole {
  background-color: purple;
}

.text-sm {
  font-size: 9px;
}

h4 a {
  text-decoration: none;
}

.my-card {
  width: 300px;
  background-color: var(--mainColor);
  border: 2px solid gray;
  padding: 15px;

  -webkit-box-shadow: 26px -20px 10px -3px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 26px -20px 10px -3px rgba(0, 0, 0, 0.51);
  box-shadow: 26px -20px 10px -3px rgba(0, 0, 0, 0.51);
}

.mini-card {
  background-color: var(--secColor);
  border-radius: 5px;
  cursor: pointer;
  filter: grayscale(70%);
}

.mini-card img {
  width: 70px;
  height: 80px;
  padding: 10px;
}

.mini-card:hover {
  filter: grayscale(0);
  transition: ease-in 250ms;
}

.mini-card:after {
  display: block;
  content: "";
  border-top: 2px solid blue;
  transform: scaleX(0);
  transition: transform 250ms ease-in;
}

.mini-card:hover:after {
  transform: scaleX(0.95);
}

.mini-card.fromLeft:after {
  transform-origin: 0% 50%;
}

.media {
  background-color: var(--mainColor);
  border-radius: 5px;
}

.my-date {
  float: right;
  font-size: 10px;
  margin-top: 5px;
}

.form-div {
  background-color: var(--secColor);
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

.input-field {
  background-color: var(--mainColor) !important;
  color: white;
}

textarea {
  background-color: var(--mainColor) !important;
}

.input-btn {
  background-color: var(--inputBtn) !important;
}

@media (max-width: 400px) {
  .my-card {
    box-shadow: none;
    border-radius: 5px;
  }

}
